body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;

}
<<<<<<< HEAD
#main form{
  margin-bottom: 1rem;
}
=======

>>>>>>> 3e626fe6816b9862842bfabfb21aa9c5434d18d0
>>>>>>> dev
