<!DOCTYPE html>
<!-- Deleteページ -->
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="../../public/javascripts/main.js"></script>
</head>
<body class="container">
    <header>
        <h1 class="display-4">Delete</h1>
    </header>
    <div role="main"> 
        <form action="/boards/delete" method="POST">
            <input type="hidden" name="id" id="id" value="<%= brds.id %>">
            <div class="row">
                <div class="col-10">
                    <textarea class="form-control" id="msg" name="msg"><%= brds.message %></textarea>
                </div>
                <input type="submit" value="削除" class="btn btn-primary col-2" onClick="return confirmDelete(<%= brds.id %>)">
            </div>
       </form>
    </div>
    <p class="mt-4"><a href="/users/login">&lt;&lt; Top へ戻る</a></p>
</body>
</html>