<!DOCTYPE html>
<!-- indexページ -->
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="container">
    <header>
        <h1 class="display-4">Edit</h1>
    </header>
    <div role="main"> 
        <form action="/boards/edit" method="POST">
            <input type="hidden" name="id" id="id" value="<%= user.id %>">
            <div class="row">
                <div class="col-10">
                    <input type="text" name="msg" class="form-control" value="<%= user.msg %>">
                </div>
                <input type="submit" value="送信" class="btn btn-primary col-2">
            </div>
       </form>
    </div>
    <p class="mt-4"><a href="/users/login">&lt;&lt; Top へ戻る</a></p>
</body>
</html>